   <!-- //**********NAVBAR**********// -->
   <nav>
      <div class="container">
         <div class="navbar">
            <div class="logo"> <a href="#"> LOGO </a> </div>
            <ul class="menu">
               <li class="menu__item"><a href="" class="menu__item-link" data-scroll></a>Портфолио</li>
               <li class="menu__item"><a href="" class="menu__item-link" data-scroll></a>Инфо</li>
               <li class="menu__item"><a href="" class="menu__item-link" data-scroll></a>Контакты</li>
            </ul>
            <div class="burger">
               <span></span>
            </div>
         </div>
      </div>
   </nav>
